@media (min-width: 38em) {
  html {
    font-size: 1.25em;
  }
  .byline {
    font-size: .8em;
  }
}

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-weight: 400;
  line-height: 1.6;
  color: #313131;
}

p {margin-bottom: 1.3em;}
/* b {font-weight: 700} */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
h1, 
.h1 {
  margin-top: 0;
  font-size: 2.074em;
}
h2, 
.h2 {font-size: 1.728em;}

h3, 
.h3 {font-size: 1.44em;}

h4, 
.h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

td,
th {
  /* remove border around gist line numbers */
  border: 0;
}

.heading-font {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.sidebar {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.pagination {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.byline {
  margin-bottom: 1.3em;
  display: flex;
  align-items: center;
}
.byline-meta {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.byline-bio,
.byline-post-date {
  color: #919191;
}
.byline .avatar {
  margin-bottom: 0;
}
.byline-avatar +
.byline-meta{
  padding-left: .8rem;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  max-width: initial;
}
.avatar-sm {
  width: 60px;
  height: 60px;
}
.avatar-xs {
  width: 36px;
  height: 36px;
}

.hero {}
.hero-title {
  margin: 0;
}

.related-posts {
  margin-bottom: 0;
}

.footer {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: #919191;
}

.flat-top {
  margin-top: 0;
}

div.highlight {
  padding: 0;
}

.center-image {
  margin: auto;
}