---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:3 %}
  <div class="byline">
    <div class="byline-avatar">
      <img class="avatar avatar-xs" src={{ "/img/avatar.png" | absolute_url }} alt="">
    </div>
    <div class="byline-meta">
      <div class="byline-author">{{ post.author }}</div>
      <div class="byline-post-date">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      </div>
    </div>
  </div>
  <article class="post">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>

    {{ post.excerpt | strip_html | truncatewords: 45 }}
  </article>
  {% endfor %}
</div>
